*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  flex-direction: column;
  background: #edf7fc;
  min-height: 100vh;
}

header {
  z-index: 99;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #5a3bc9;
  padding-left: 1.7rem;
  height: 3.5rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}

.title-container {
  display: flex;
  align-items: center;
}

#currencyValue {
  border-radius: 0.5rem;
  height: 2rem;
  font-size: 0.8rem;
  width: 7rem;
}

#convertTo {
  margin-right: 0.5rem;
}

.convertBtn {
  font-size: 1.3rem;
  padding: 0 0.25rem;
  padding-left: 0.5rem;
  background-color: #5a3bc9;
  border-color: transparent;
  color: rgb(194, 177, 255);
  cursor: pointer;
  transition: color linear 0.3s;
}

.convertBtn:hover {
  color: white;
}

.currency-converter {
  display: flex;
  align-items: center;
  height: 100%;
}

select {
  position: relative;
  font-family: "Roboto", sans-serif;
  padding-right: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(194, 177, 255)' viewBox='0 0 320 512'><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: left 2.6rem top 30%, 0 0;
  background-size: 0.65em auto, 100%;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-align: center;
  width: 3.5rem;
  height: 100%;
  color: rgb(194, 177, 255);
  border-color: transparent;
  transition: all linear 0.3s;
  cursor: pointer;
}

select:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 320 512'><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/></svg>");
  background-repeat: no-repeat;
  background-position: left 2.6rem top 30%, 0 0;
  background-size: 0.65em auto, 100%;
  color: white;
}

.active {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='rgb(194, 177, 255)' viewBox='0 0 320 512'><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: left 2.6rem top 30%, 0 0;
  background-size: 0.65em auto, 100%;
}

.active:hover {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 320 512'><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d='M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z'/></svg>");
  background-repeat: no-repeat, repeat;
  background-position: left 2.6rem top 30%, 0 0;
  background-size: 0.65em auto, 100%;
}

option {
  background-color: white;
  color: #5a3bc9;
}

.invertBtn {
  font-size: 1.3rem;
  height: 100%;
  padding: 0.5rem;
  background-color: #5a3bc9;
  border-color: transparent;
  color: rgb(194, 177, 255);
  cursor: pointer;
  transition: color linear 0.3s;
}

.invertBtn:hover {
  color: white;
}

.current-dollar-rate {
  text-align: left;
  margin-left: 0.2rem;
}

.fa-sort-up {
  position: relative;
  color: white;
  margin: 0 0.34rem;
  color: rgb(0, 199, 0);
}
.fa-sort-down {
  position: relative;
  bottom: 0.35rem;
  color: white;
  margin: 0 0.34rem;
  color: rgb(255, 55, 55);
}
.current-dollar-rate h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: white;
}

.current-dollar-rate h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: white;
}

.converted-value h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: white;
  width: 18.5rem;
}

.fa-sack-dollar {
  color: #edf7fc;
  font-size: 1.6rem;
  margin-right: 1.1rem;
}

.title {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
  color: #edf7fc;
  letter-spacing: 0.2rem;
  text-align: center;
}

.btn-navigator {
  display: flex;
  height: 100%;
}

.add-btn-smallscreen {
  display: grid;
  place-items: center;
  height: 100%;
  width: 3.5rem;
  background-color: #5a3bc9;
  color: #bab5ff;
  border: none;
  transition: all linear 0.3s;
}

.material-symbols-outlined {
  font-size: 2rem !important;
  transform: scale(1);
  transition: all linear 0.3s;
}

.calculator-btn {
  display: grid;
  place-items: center;
  background-color: #5a3bc9;
  color: #bab5ff;
  border: none;
  font-size: 1.8rem;
  height: 100%;
  width: 3.5rem;
  transform: rotate(0deg);
  transition: all linear 0.3s;
  cursor: pointer;
}

.calculator-btn .fa-solid {
  transform: scale(1);
  transition: transform linear 0.3s;
}

.calculator-btn:hover .fa-solid {
  transform: scale(1.15);
}

.material-symbols-outlined:hover {
  transform: scale(1.15);
}

.calculator-btn:hover,
.add-btn-smallscreen:hover {
  background-color: #8564fb;
  color: #bab5ff;
}

.open {
  background-color: #b0aaff;
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  color: #8564fb;
}

.month-btns-container {
  display: grid;
  place-items: center;
  margin-top: 1.5rem;
}

ul {
  display: flex;
  list-style: none;
}

li > button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.15rem;
  background-color: #9a8dff;
  border-color: transparent;
  color: #e3eaff;
  padding: 0.4rem 1.2rem;
  cursor: pointer;
  transition: background-color linear 0.3s;
}

li > button:hover {
  background-color: #8c6cff;
}

li .btn-start {
  border-top-left-radius: 0.8rem;
}

li .btn-end {
  border-top-right-radius: 0.8rem;
}

li .btn-selected {
  background-color: #5a3bc9;
}

li .btn-selected:hover {
  background-color: #5a3bc9;
}

.container-expenses {
  display: grid;
  place-content: center;
}

.container-expenses > div {
  display: grid;
  align-items: center;
  background-color: #e3eaff;
  border: 4px solid #5a3bc9;
  width: 85vw;
  max-width: 900px;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.3);
}

.section-top {
  width: 100%;
}

.section-top h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 2.3rem;
  font-size: 1.4rem;
  font-weight: 800;
  color: #5a3bc9;
}

.section-top .currency {
  font-size: 2.3rem;
  font-weight: 500;
}

.section-top h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 750;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 2.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0;
  color: #ff40b6;
}

.section-top span {
  font-size: 3rem;
  font-weight: 750;
}

.section-top .decimal {
  font-size: 2.3rem;
}

form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.btn-add-container {
  background-color: #d6d6ec;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all linear 0.3s;
}

.show-btn {
  height: 4.3rem;
  border-bottom: solid #ff40b6;
}

.btn-add-container > form {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.add-btn {
  font-weight: 600;
  background-color: #ff40b6;
  border: solid #ff40b6;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  color: #e3eaff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color linear 0.3s;
  z-index: 1;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  border-radius: 2rem;
  background-color: transparent;
}

input {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 600;
  height: 2.65rem;
  margin: 0.8rem 0;
  border-color: transparent;
  padding: 0.4rem;
  font-size: 1rem;
}

#expensetitle {
  width: 13rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: dashed #959494 1.5px;
}

#expensevalue {
  width: 7.5rem;
}

.section-top {
  grid-area: 1 / 1 / 2 / -1;
}

.add-btn:hover {
  background-color: #ff40b6;
  border: solid #ff40b6;
  color: #e3eaff;
}

.container-top {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.section-center {
  display: flex;
  flex-direction: column;
}

.alert {
  display: grid;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin: 0.6rem 2rem;
  height: 1.5rem;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.alert-success {
  color: #155724;
  background: linear-gradient(
    90deg,
    rgba(193, 225, 200, 0) 0%,
    rgba(193, 225, 200, 1) 10%,
    rgba(193, 225, 200, 1) 50%,
    rgba(193, 225, 200, 1) 90%,
    rgba(193, 225, 200, 0) 100%
  );
  border-radius: 8px;
  opacity: 100;
}

.alert-danger {
  color: #721c24;
  background: linear-gradient(
    90deg,
    rgba(248, 215, 218, 0) 0%,
    rgba(248, 215, 218, 1) 20%,
    rgba(248, 215, 218, 1) 50%,
    rgba(248, 215, 218, 1) 80%,
    rgba(248, 215, 218, 0) 100%
  );
  border-radius: 8px;
  opacity: 100;
}

.section-center p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgb(61, 84, 135);
}

.no-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.no-item p {
  text-transform: none;
}

.items-list {
  background-color: #f3f4ff;
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0.6rem;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.1rem;
  border-top: 1.5px solid rgb(206, 212, 239);
}

.start {
  border-top: none;
}

.item-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 0.5rem;
}

.container-item-btn {
  display: flex;
}

.item-btn {
  background: transparent;
  border-color: transparent;
  margin-left: 0.2rem;
  cursor: pointer;
  transition: color linear 0.3s;
}

.clear-btn {
  display: grid;
  place-items: center;
  width: 100%;
}

.clear {
  width: fit-content;
  padding: 0.5rem 1.3rem;
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 1.5rem;
  margin: 1rem;
  color: hsl(360, 71%, 66%);
  border: solid hsl(360, 71%, 66%);
  border-color: hsl(360, 71%, 66%);
  transition: background-color linear 0.3s, border linear 0.3s,
    border-color linear 0.3s;
  cursor: pointer;
}

.clear:hover {
  color: #e3eaff;
  background-color: hsl(0, 65%, 54%);
  border: solid hsl(0, 65%, 54%);
  border-color: hsl(0, 65%, 54%);
}

.clear {
  visibility: hidden;
}

.clear-show {
  visibility: visible;
}

.delete {
  color: hsl(360, 71%, 66%);
}

.delete:hover {
  color: hsl(0, 65%, 54%);
}

.edit {
  color: hsl(125, 71%, 66%);
}

.edit:hover {
  color: hsl(125, 67%, 44%);
}

footer {
  display: flex;
  align-items: center;
  background-color: #5a3bc9;
  margin-top: auto;
  height: 3rem;
}

footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  color: #edf7fc;
  margin: auto;
}

@media screen and (max-width: 770px) {
  body {
    background-color: #e3eaff;
  }

  .header-container {
    box-shadow: none;
  }
  .currency-converter {
    display: none;
  }

  .month-btns-container {
    display: block;
    margin-top: 1.5rem;
  }

  li {
    display: flex;
    width: 100%;
  }

  li > button {
    flex: 1;
  }

  .month-btns-container {
    margin-top: 0;
  }

  li .btn-start {
    border-top-left-radius: 0;
  }

  li .btn-end {
    border-top-right-radius: 0;
  }

  .container-expenses > div {
    background-color: none;
    border: none;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .container-expenses {
    display: block;
  }
}
@media screen and (min-width: 771px) {
  html {
    font-size: 80%;
  }

  .section-top {
    grid-area: 2 / 1 / 2 / -1;
  }

  li > button {
    padding: 0.4rem 1.5rem;
  }

  .month-btns-container {
    z-index: 1;
  }

  .section-top {
    width: auto;
    margin: 0 2.5rem;
    margin-bottom: 0;
  }

  .section-top h3 {
    font-size: 1.2rem;
    text-align: left;
  }

  .section-top h2 {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
  }

  .section-top .real {
    font-size: 3.6rem;
  }

  .section-top .currency {
    font-size: 2.5rem;
  }

  .section-top .decimal {
    font-size: 2.5rem;
  }

  .add-btn-smallscreen {
    display: none;
  }

  .alert {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    height: 1.2rem;
  }

  .alert-success p {
    border-radius: 8px;
  }

  .alert-danger p {
    border-radius: 8px;
  }

  .container-top {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 0.3rem;
  }

  .btn-add-container {
    display: grid;
    place-items: center;
    height: 4rem;
    background-color: transparent;
    border: none;
  }

  .btn-add-container > form {
    display: flex;
    position: relative;
    right: 0.5rem;
    flex-direction: row-reverse;
    justify-content: end;
  }

  .add-btn {
    position: relative;
    font-weight: 600;
    width: fit-content;
    background-color: #e3eaff;
    border: solid #ff40b6;
    color: #ff40b6;
    padding: 0.8rem 1.5rem;
    border-radius: 1.8rem;
    cursor: pointer;
    transition: background-color linear 0.3s;
    z-index: 1;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  }

  .add-btn:hover {
    background-color: #ff40b6;
    border: solid #ff40b6;
    color: #e3eaff;
  }

  .input-container {
    display: flex;
    justify-content: start;
    background-color: #d6d6ec;
    border: solid #ff40b6;
    position: relative;
    top: 0;
    left: 5.3rem;
    padding-left: 5px;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 0;
    width: 0;
    height: 3.11rem;
    z-index: 0;
    transition: all linear 0.3s;
  }

  .show {
    width: 24.2rem;
    opacity: 100%;
  }

  input {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 600;
    height: 2rem;
    border-color: transparent;
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  #expensetitle {
    width: 11.5rem;
  }

  #expensevalue {
    width: 6.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .clear {
    font-size: 1rem;
  }

  .item p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 830px) {
  .section-top h2 {
    text-align: left;
  }

  .container-top {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 0.3rem;
  }

  .btn-add-container {
    flex: 1;
    justify-content: end;
    background-color: transparent;
    border: none;
  }

  .add-btn {
    position: relative;
    font-weight: 600;
    width: fit-content;
    background-color: #e3eaff;
    border: solid #ff40b6;
    color: #ff40b6;
    padding: 0.8rem 1.5rem;
    border-radius: 1.8rem;
    cursor: pointer;
    transition: background-color linear 0.3s;
    z-index: 1;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
  }

  .add-btn:hover {
    background-color: #ff40b6;
    border: solid #ff40b6;
    color: #e3eaff;
  }

  .show {
    width: 24.1rem;
    opacity: 100%;
  }

  input {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-weight: 600;
    height: 2rem;
    border-color: transparent;
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  #expensetitle {
    width: 11.5rem;
  }

  #expensevalue {
    width: 6.5rem;
  }

  .clear {
    font-size: 1rem;
  }

  .item p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 100%;
  }

  .section-top h3 {
    font-size: 1.1rem;
    text-align: left;
  }

  .section-top h2 {
    text-align: left;
    margin: 1rem 0 1.5rem 0;
  }

  .section-top .real {
    font-size: 3rem;
  }

  .section-top .currency {
    font-size: 2.3rem;
  }

  .section-top .decimal {
    font-size: 2.3rem;
  }

  .input-container {
    height: 2.81rem;
  }

  .show {
    width: 23rem;
  }

  input {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    height: 2rem;
    border-color: transparent;
    padding: 0.4rem;
    font-size: 0.8rem;
  }

  #expensetitle {
    width: 10.5rem;
  }

  #expensevalue {
    width: 6.5rem;
  }

  .item p {
    font-size: 0.9rem;
  }

  .clear {
    font-size: 0.8rem;
  }
}

@media print {
  .container-expenses > div {
    padding-bottom: 2rem;
  }
  form {
    display: none;
  }

  .alert {
    display: none;
  }

  .clear {
    display: none;
  }

  .container-item-btn {
    display: none;
  }

  h1 {
    margin: 0;
  }

  h3 {
    margin: 0;
  }

  .items-list {
    background-color: white;
  }

  .no-item {
    display: none;
  }
}

.title-container {
  justify-content: center;
}

.title-container {
  justify-content: left;
}
